@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

:root {
  --body-color: 48 48 58;
  --font-color: 255 255 255;
  --theme-background: 20 20 20;

}

::selection {
  background: rgb(136, 136, 136);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: rgb(var(--body-color));
  margin: 0px;
  padding: 0px;
}


* {
  box-sizing: border-box;
}

h1, h2, h3, h4, input, select, button, span, a, p {
  color: rgb(var(--font-color));
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
}

button, a, input {
  outline: none;
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--theme-background));
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}
.fancy-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
#main-wrapper {
  height: 100%;
  overflow: auto;
}


/* Atom */
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

:root {
  --atom-size: 220px;
  --atom-color-hex: #9D00FF;
  --atom-color-rgb: 157, 0, 255;
  --nucleus-size: calc(var(--atom-size) / 6);
  --electron-color-hex: #62FF00;
  --electron-size: calc(var(--atom-size) / 30);
  --electron-orbit-size: calc(var(--atom-size) / 3);
  --electron-speed: 1.0s;
  --electron-speed-alpha: 1s;
  --electron-speed-omega: .8s;
}


*, *:before, *::after {
  box-sizing: border-box;
}

.atom {
  position: relative;
  align-items: center;
  width: var(--atom-size);
  height: var(--atom-size);
  animation: 8s atom infinite cubic-bezier(1, .25, 0, .75);
}

@keyframes atom {
  0% {
    transform: rotate(-90deg) scale(1);
  }

  12.5% {
    transform: rotate(90deg) scale(.9);
  }

  25% {
    transform: rotate(-90deg) scale(1);
  }

  37.5% {
    transform: rotate(90deg) scale(.9);
  }

  50% {
    transform: rotate(-90deg) scale(1);
  }

  62.5% {
    transform: rotate(90deg) scale(.9);
  }

  75% {
    transform: rotate(-90deg) scale(1);
  }

  87.5% {
    transform: rotate(90deg) scale(.9);
  }

  100% {
    transform: rotate(-90deg) scale(1);
  }
}

/* Nucleus */
.atom::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--nucleus-size);
  height: var(--nucleus-size);
  margin-top: calc(var(--nucleus-size) / -2);
  margin-left: calc(var(--nucleus-size) / -2);
  background: var(--electron-color-hex);
  /* var(--atom-color-hex); */
  border-radius: 100%;
  box-shadow: 0 0 3px 0 var(--atom-color-hex);
  animation: 2s nucleus infinite cubic-bezier(.65, 0, .35, 1);
}

@keyframes nucleus {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.9);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(.85);
  }

  100% {
    transform: scale(1);
  }
}

/* Electron Orbit */
.atom>[class^="electron"] {
  border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
  border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
  border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
  border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  border-radius: 100%;
  width: 100%;
  height: var(--electron-orbit-size);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--electron-orbit-size) / -2);
  animation: var(--electron-speed) electron-orbit infinite linear;
}

.atom>.electron-alpha {
  transform: rotate(60deg);
  animation: var(--electron-speed-alpha) electron-orbit infinite linear;
}

.atom>.electron-omega {
  transform: rotate(-60deg);
  animation: var(--electron-speed-omega) electron-orbit infinite linear;
}

@keyframes electron-orbit {
  0% {
    border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
    border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  }

  25% {
    border-top: solid rgba(var(--atom-color-rgb), .35) 1px;
    border-right: solid rgba(var(--atom-color-rgb), .2) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0) 4px;
    border-left: solid rgba(var(--atom-color-rgb), .5) 2px;
  }

  50% {
    border-top: solid rgba(var(--atom-color-rgb), .2) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), .5) 4px;
    border-left: solid rgba(var(--atom-color-rgb), .35) 2px;
  }

  75% {
    border-top: solid rgba(var(--atom-color-rgb), 0) 1px;
    border-right: solid rgba(var(--atom-color-rgb), .5) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), .35) 4px;
    border-left: solid rgba(var(--atom-color-rgb), .2) 2px;
  }

  100% {
    border-top: solid rgba(var(--atom-color-rgb), .5) 1px;
    border-right: solid rgba(var(--atom-color-rgb), .35) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), .2) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  }
}

/* Electron Unit */
.atom [class^="electron"]::after {
  content: '';
  display: block;
  width: var(--electron-size);
  height: var(--electron-size);
  background: var(--electron-color-hex);
  border-radius: 50%;
  margin-top: calc(var(--electron-size) / -2);
  position: absolute;
  top: 50%;
  left: calc(var(--electron-size) / -1);
  transform: scale(1);
  animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
}

.atom .electron-alpha::after {
  animation: calc(var(--electron-speed-alpha) * 2) electron infinite ease-in-out;
}

.atom .electron-omega::after {
  animation: calc(var(--electron-speed-omega) * 2) electron infinite ease-in-out;
}

@keyframes electron {
  0% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }

  12.5% {
    top: 100%;
    transform: scale(1.5);
  }

  25% {
    left: 100%;
    transform: scale(1);
  }

  37.5% {
    top: 0%;
    transform: scale(.25);
  }

  50% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }

  62.5% {
    top: 100%;
    transform: scale(1.5);
  }

  75% {
    left: 100%;
    transform: scale(1);
  }

  87.5% {
    top: 0%;
    transform: scale(.25);
  }

  100% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }
}


main {
  position: relative;
  display: flex;
  justify-content: center;
}

main::after {
  content: '';
  display: block;
  position: absolute;
  top: 115%;
  left: 0;
  width: var(--atom-size);
  height: var(--nucleus-size);
  background-image: radial-gradient(closest-side, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  border-radius: 100%;
  transform: scale(1, .8);
  animation: 8s shadow infinite cubic-bezier(1, .25, 0, .75);
}

@keyframes shadow {
  0% {
    transform: scale(1, .8) translateY(0);
  }

  12.5% {
    transform: scale(.7, .7) translateY(-20px);
  }

  25% {
    transform: scale(1, .8) translateY(0);
  }

  37.5% {
    transform: scale(.7, .7) translateY(-20px);
  }

  50% {
    transform: scale(1, .8) translateY(0);
  }

  62.5% {
    transform: scale(.7, .7) translateY(-20px);
  }

  75% {
    transform: scale(1, .8) translateY(0);
  }

  87.5% {
    transform: scale(.7, .7) translateY(-20px);
  }

  100% {
    transform: scale(1, .8) translateY(0);
  }
}


/* Name txt */
@keyframes blinkH1 {
  0%   {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;
    }
  19%   {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;
  }
  20% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  21% {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;  
  }
  60% {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;  
  }
  61% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  62% {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;  
  }
  63% {
      color: #9E9E9E;
    text-shadow: none;  
  }
  64% {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;  
  }
  100% {
      color: #fff;
    text-shadow: 0px 0px 20px #62FF00;  
  }
}

@keyframes blinkH1After {
  0%   {
      color: #9D00FF;
  }
  19%   {
      color: #9D00FF;
  }
  20% {
      color: transparent; 
  }
  21% {
      color: #9D00FF;  
  }
  60% {
      color: #9D00FF;  
  }
  61% {
      color: transparent; 
  }
  62% {
      color: #9D00FF;  
  }
  63% {
      color: transparent; 
  }
  64% {
      color: #9D00FF;  
  }
  100% {
      color: #9D00FF;  
  }
}

@keyframes blinkH1Before {
  0%   {
      background: #9D00FF;
  }
  19%   {
      background: #9D00FF;
  }
  20% {
      background: transparent; 
  }
  21% {
      background: #9D00FF;  
  }
  60% {
      background: #9D00FF;  
  }
  61% {
      background: transparent; 
  }
  62% {
      background: #9D00FF;  
  }
  63% {
      background: transparent; 
  }
  64% {
      background: #9D00FF;  
  }
  100% {
      background: #9D00FF;  
  }
}
h3 {
  font-family: 'Marck Script', cursive;
  font-weight: 200;
  margin: 0px;
  position: relative;
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 0px 20px #9D00FF;
  -webkit-animation: blinkH1 4s infinite;
  animation: blinkH1 4s infinite;
}

h3:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #9D00FF;
  z-index: -1;
  filter: blur(15px);
  -webkit-animation: blinkH1After 4s infinite;
  animation: blinkH1After 4s infinite;
}

h3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9D00FF;
  z-index: -2;
  opacity: 0.7;
  filter: blur(50px);
  -webkit-animation: blinkH1Before 4s infinite;
  animation: blinkH1Before 4s infinite;
}


.name-txt {
  clear: both;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding: 0;
}

/* Search Container */

#search-container {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
}

#search-input-container>input,
#search-container>button {
  background-color: rgb(255 255 255 / 10%);
  color: rgb(255 255 255 / 80%);
  font-size: 1rem;
  border: none;
}

#search-input-container:has(input:focus),
#search-container>button:focus {
  background-color: rgb(255 255 255 / 16%);
}

#search-container>button {
  width: 3.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

#search-container>#image-button {
  border-bottom-right-radius: 0.5rem;
}

#search-input-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: rgb(255 255 255 / 10%);
  padding-left: 1rem;
  border-radius: 0.2rem;
  border-bottom-left-radius: 0.5rem;
}


#search-input-container>img {
  height: 1.5rem;
}

#search-input-container>input {
  width: 400px;
  height: 3.25rem;
  background-color: transparent;
}

/* social button */

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 12px;

}

.social-button {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 45px;
  height: 45px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button svg {
  height: 28px;
  width: 28px;
}

.social-button--gmail {
  color: #3f729b;
  background-color: white;
  border: none;
  padding: 0;
  margin: 0 5px;
  font-size: 24px;
}

.social-button--youtube {
  color: #ff0000;
  background-color: white;
  border: none;
  padding: 0;
  margin: 0 5px;
  font-size: 24px;
}

.social-button--github {
  color: #3b5999;
}

.social-button--github::after {
  background: #3b5999;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--whatsapp {
  color: #43cd66;
}

.social-button--whatsapp::after {
  background: #43cd66;
}

.social-button--chatgpt {
  color: #10a37f;
}

.social-button--chatgpt::after {
  background: #10a37f;
}

.social-button--gmail {
  color: #D44638;
}

.social-button--gmail::after {
  background: #D44638;
}

.social-button--youtube {
  color: #ff0000;
}

.social-button--youtube::after {
  background: #ff0000;
}


@media screen and (max-width: 540px) {
  #search-input-container>input {
    width: 300px;
    height: 3.15rem;    
  }
  
}

@media screen and (max-width: 450px) {

  h3 {
  font-size: 40px;
}
  #search-input-container>input {
    width: 250px;
    height: 3.15rem;
    
  }
  
}
@media screen and (max-width: 400px) {
  h3 {
  font-size: 35px;
}
  #search-input-container>input {
    width: 200px;
    height: 3.15rem;
    
  }
  #main-wrapper {
    width: 100%;
    flex-grow: 1;
  }
  .social-button {
    width: 34px;
    height: 34px;
    gap: 10px;
  }
  .social-button i {
    font-size: 20px;
  }
  
  .social-button svg {
    height: 20px;
    width: 20px;
  }
  
}
@media screen and (max-width: 320px) {  
  
  #search-input-container>input {
    width: 170px;
    height: 3.05rem;
    
  }
  
}